d-breadcrumb{
    margin-left: 20px;
    padding-top: 20px;
    }
.container{
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
}.table-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}