d-breadcrumb{
    margin-left: 20px;
    padding-top: 20px;
    }
.container{
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}.table-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addBtn{
    float: right;
    padding-bottom: 10px;
}