
<div class="card-container">
    <div class="container">
        <!-- <d-search [isKeyupSearch]="true" (searchFn)="onSearch($event)"></d-search> -->
        <div class="date-search">
            <fieldset>
                <legend>From-To</legend>
                <d-row [dGutter]="16">
                    <d-col [dSpan]="12">
                        <div class="devui-input-group devui-dropdown-origin">
                            <input class="devui-input devui-form-control" placeholder="y/MM/dd"
                                (click)="datePicker1.toggle()" name="dp1" [(ngModel)]="from"
                                autocomplete="off" dDatepicker #datePicker1="datepicker" />
                            <div *ngIf="from" class="devui-input-group-addon close-icon-wrapper"
                                (click)="datePicker1.clearAll()">
                                <i class="icon icon-close"></i>
                            </div>
                            <div class="devui-input-group-addon" (click)="datePicker1.toggle()">
                                <i class="icon icon-calendar"></i>
                            </div>
                        </div>
                    </d-col>
                    <d-col [dSpan]="12">
                        <div class="devui-input-group devui-dropdown-origin">
                            <input class="devui-input devui-form-control" placeholder="y/MM/dd"
                                (click)="datePicker2.toggle()" name="dp2" [(ngModel)]="to"
                                autocomplete="off" dDatepicker #datePicker2="datepicker" />
                            <div *ngIf="to" class="devui-input-group-addon close-icon-wrapper"
                                (click)="datePicker2.clearAll()">
                                <i class="icon icon-close"></i>
                            </div>
                            <div class="devui-input-group-addon" (click)="datePicker2.toggle()">
                                <i class="icon icon-calendar"></i>
                            </div>
                        </div>
                    </d-col>
                </d-row>
            </fieldset>

            <button (click)="datePicker2.clearAll();datePicker1.clearAll()" class="search-btn" style="background-color: rgb(122, 123, 122) ; color:white;margin-left: 10px;">Reset</button>
            <button (click)="exportexcel()" class="search-btn" style="background-color: rgb(250, 255, 250) ; color:rgb(0, 0, 0);margin-left: 10px;border: solid black; border-width:1px">  <d-icon [icon]="'icon-op-download'" [operable]="true"></d-icon>
                Export</button>

        </div><br>
        <label ><b>PAYMENT</b></label><br>
        <div>
            <d-data-table id="exel-tabel"  tableLayout="auto" [dataSource]="data.data|getHistory:from:to" [scrollable]="true" [tableOverflowType]="'overlay'">
                <thead dTableHead>
                    <tr dTableRow>
                        <th dHeadCell>#</th>
                        <th dHeadCell>Total Amount</th>
                        <th dHeadCell>TXD</th>
                        <th dHeadCell>Paid Amount</th>
                        <th dHeadCell>Balance Amount</th>
                        <th dHeadCell>Assigned By</th>
                    </tr>
                </thead>
                <tbody dTableBody>
                    <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                        <tr dTableRow>
                            <td dTableCell>
                                {{rowIndex}}
                            </td>
                            <td dTableCell>
                                {{rowItem.totalAmount}}
                            </td>
                            <td dTableCell>
                                {{rowItem.txd}}
                            </td>
                            <td dTableCell>
                                {{rowItem.paidAmount}}
                            </td>
                            <td dTableCell>
                                {{rowItem.balance}}
                            </td>
                            <td dTableCell>
                                {{rowItem.assignBy}}
                            </td>
                        </tr>
                        
                    </ng-template>
                   
                </tbody>
                
            </d-data-table>
        </div>


    </div>
</div>
