
.card-container{
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 0 0 10px #719ECE;
    border-radius: 4px;
}
d-breadcrumb{
    margin-left: 20px;
    padding-top: 20px;
    }
.container{
    padding:20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.debate-credit{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}
fieldset {
    border: 1px solid #000;
    width: 80%;
    
}
legend{
  margin-left:10px;
}
.search-btn{
    padding: 15px 25px;
    margin-top: 10px;
    background-color: green;

}
.date-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}