<d-breadcrumb>
    <d-breadcrumb-item>
        <a routerLink="/pages/subscription">Subscription</a>
    </d-breadcrumb-item>
    <d-breadcrumb-item>
        <span>Subscription List</span>
    </d-breadcrumb-item>
</d-breadcrumb>
<div class="container">
    <d-row [dGutter]="[8,32]">
        <d-col [dSpan]="4">
            <d-search [size]="'sm'" [(ngModel)]="searchName"></d-search> <!-- (searchFn)="onSearch($event)" -->

        </d-col>
        <d-col [dSpan]="4">
            
            <div class="row">
                <div class="col-md-4">
                  <d-select [placeholder]="'Subscription Status'" [(ngModel)]="searchStatus" [options]="optionStatus" size="sm"></d-select>
                </div>
              </div>
            
        </d-col>
        <d-col [dSpan]="3">
            <div class="row">
                <div class="col-md-4">
                  <d-select [placeholder]="'Program'" [(ngModel)]="searchProgram" [options]="optionProgram" size="sm"></d-select>
                </div>
              </div>
        </d-col>
        <d-col [dSpan]="3">
            <div class="row">
                <div class="col-md-4">
                  <d-select [placeholder]="'Workout Shift'" [(ngModel)]="searchShift" [options]="optionShift" size="sm"></d-select>
                </div>
              </div>
        </d-col>
        <d-col [dSpan]="4">
            <div class="row">
                <div class="col-md-4">
                  <d-select [placeholder]="'Subscription Type'" [(ngModel)]="searchType" [options]="optionType" size="sm"></d-select>
                </div>
              </div>
        </d-col>
        <d-col [dSpan]="3">
            <div class="row">
                <div class="col-md-4">
                  <d-select [placeholder]="'Credit'" [(ngModel)]="searchCredit" [options]="optionCredit" size="sm"></d-select>
                </div>
              </div>
        </d-col>
        <d-col [dSpan]="2">
            <d-button (click)="openAddDialog()">Add New</d-button>
        </d-col>
    </d-row>

    <d-data-table tableLayout="auto" [dataSource]="customerData | getCustomer:searchName" [scrollable]="true"
        [tableOverflowType]="'overlay'">
        <thead dTableHead>
            <tr dTableRow>
                <th dHeadCell>#</th>
                <th dHeadCell>Customer</th>
                <th dHeadCell>Program</th>
                <th dHeadCell>Subscription Type</th>
                <th dHeadCell>Shift</th>
                <th dHeadCell>Credit</th>
                <th dHeadCell>Status</th>
                <th dHeadCell>Expire On</th>
                <th dHeadCell>Action</th>
            </tr>
        </thead>
        <tbody dTableBody>
            <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                <tr dTableRow>
                    <td dTableCell>{{ rowIndex + 1 }}</td>
                    <td dTableCell>
                        {{rowItem.fullName| uppercase}}
                    </td>
                    <td dTableCell>
                        {{rowItem.program}}
                    </td>
                    <td dTableCell>
                        {{rowItem.subscriptionType}}
                    </td>
                    <td dTableCell>
                        {{rowItem.shift}}
                    </td>
                    <td dTableCell>
                        {{rowItem.credit}}
                    </td>
                    <td  dTableCell>
                        <span [ngClass]="rowItem.status ? 'greenbox' :'purplebox'">{{rowItem.status ? 'Active' :"Freeze"}}</span>
                    </td>
                    <td dTableCell>
                        
                        <span [ngClass]="(rowItem.expireOn | dayRemaining:rowItem.expireOn)>10? 'greenbox' :((rowItem.expireOn | dayRemaining:rowItem.expireOn)>0 ? 'yellowbox': 'redbox')">{{rowItem.expireOn | dayRemaining:rowItem.expireOn}} Days</span>

                    </td>
                    <td class="icon-group" dTableCell>
                        
                        <a (click)="openEditDialog(rowIndex,true)"> <d-icon [icon]="'icon-preview'"></d-icon></a>
                        <a (click)="openEditDialog(rowIndex,false)"> <d-icon [icon]="'icon-edit'"></d-icon></a>
                        <d-icon [icon]="'icon-publish'" [rotate]="45"></d-icon>
                    </td>
                </tr>
            </ng-template>
        </tbody>
    </d-data-table>

</div>