d-card{
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 0 0 10px #719ECE;

}
d-breadcrumb{
    margin-left: 20px;
    padding-top: 20px;
    }
.container{
    padding-left: 10px;
    padding-right: 10px;
}
.icon-group{
 display: flex;
 align-items: center;
 justify-content: space-around;
}
.greenbox{
    border: solid green;
    border-width: 1px;
    padding: 4px 6px;
    color: green;
}
a:hover{
    cursor:pointer;
}
.redbox{
    border: solid rgb(235, 2, 2);
    border-width: 1px;
    padding: 4px 6px;
    color: rgb(212, 23, 23);
}
.yellowbox{
    border: solid rgb(108, 123, 0);
    border-width: 1px;
    padding: 4px 6px;
    color: rgb(157, 152, 1);
}

.purplebox{
    border: solid #8982E0;
    border-width: 1px;
    padding: 4px 6px;
    color: #8982E0;
}
.red-text{
    color: red;
    font-weight: bold;
}
.green-text{
    color: green;
    font-weight: bold;
}